// Layout placeholder. Run your setup's design-to-code tool before customizing.
import 'package:flutter/material.dart';
import 'package:flutter_mobx/flutter_mobx.dart';
// TODO: import the project's design system package (project config)
import '../controller/{{feature_name}}_controller.dart';

// TODO: import the feature's l10n, if the project is multi-language

class {{FeatureName}}Page extends StatefulWidget {
  const {{FeatureName}}Page({super.key});

  @override
  State<{{FeatureName}}Page> createState() => _{{FeatureName}}PageState();
}

class _{{FeatureName}}PageState extends State<{{FeatureName}}Page> {
  late final {{FeatureName}}Controller _controller;

  @override
  void initState() {
    super.initState();
    _controller = dependencies.get<{{FeatureName}}Controller>();
    _controller.load();
  }

  @override
  Widget build(BuildContext context) {
    return Scaffold(
      body: Observer(
        builder: (_) {
          if (_controller.isLoading) {
            return const Center(child: CircularProgressIndicator());
          }
          if (_controller.state == {{FeatureName}}State.error) {
            return Center(child: Text(_controller.errorMessage ?? ''));
          }
          return ListView.builder(
            itemCount: _controller.items.length,
            itemBuilder: (context, index) {
              final item = _controller.items[index];
              // TODO: replace with a component from the project's design system
              return Padding(
                padding: const EdgeInsets.all(16),
                child: Text(item.id),
              );
            },
          );
        },
      ),
    );
  }
}
