import 'package:dartz/dartz.dart';
import 'package:injectable/injectable.dart';
// TODO: import the project's repository SDK/package (project config)
import '../entities/{{feature_name}}_entity.dart';
// TODO: import the project's Failure type (project config)

@lazySingleton
final class {{FeatureName}}Repository {
  Future<Either<Failure, List<{{FeatureName}}Entity>>> getAll() async {
    // TODO: replace with the correct SDK endpoint
    // SDK.endpoints.<endpointName>.<methodName>()
    return left(const Failure('Unimplemented'));
  }
}
